body {
  font-family: "Inter", sans-serif;
  font-family: "Azeret Mono", monospace;
}

:root {
  /* background color   */
  --background-pink: #4a2b33;
  --background-gery: #e9e9e3;
  --background-gold: #aa9e54;

  /* text color  */
  --primary-text: #222222;
  --secondary-text: #6f6f64;
  --invert-text-white: #ffffff;
  --invert-text-pink: #d27487;

  /* link & buttons color  */
  --primary-link-color: #d27487;
  --primary-link-hover: #ffffff;

  --secondary-link-color: #1f1f1f;
  --seconddary-link-hover: #d27487;

  --copyright-color: #6d6b67;
  --copyright-hover: #1f1f1f;

  --background-button: #6f6f64;
}

/* Utilities  */
.section {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  width: 1400px;
  margin: 0 auto;
  padding-left: 35px;
  padding-right: 35px;
}

/* Header  */
.header {
  background-color: var(--background-pink);
  padding-top: 44px;
  padding-bottom: 44px;
}

.header__wrapper {
  display: flex;
  align-items: center;
}

.header-navigation__list {
  display: flex;
  gap: 20px;
  margin-right: 296px;
}

.header-navigation__link {
  font-family: "Inter";
  font-size: 15px;
  line-height: 1.6em;
  color: var(--primary-link-color);
  padding-top: 5px;
  padding-bottom: 5px;
  transition: color 0.3s;
}

.header-navigation__link:hover,
.header-navigation__link:focus {
  color: var(--primary-link-hover);
}

.header-logo {
  margin-right: 422px;
}
.social-list {
  display: flex;
  gap: 16px;
}

.social-list__link {
  fill: var(--primary-link-color);
  transition: fill 0.3s;
}

.social-list__link:hover,
.social-list__link:focus {
  fill: var(--primary-link-hover);
}

/* Hero */
.hero {
  background-color: var(--background-pink);
  padding-bottom: 36px;
}

.hero-img {
  margin: 0 auto;
}

.hero-title {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* About Us */
.about {
  padding-top: 220px;
  padding-bottom: 244px;
}

.about__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 1.27em;
  text-align: center;
  color: var(--primary-text);
}

.about__paragraph {
  font-family: "Inter";
  font-size: 32px;
  line-height: 1.4em;
  text-align: center;
  color: var(--primary-text);
  width: 869px;
  margin: 0 auto;
}

/* Menu Section */
.menu {
  background-color: var(--background-gery);
  padding-top: 120px;
  padding-bottom: 120px;
}

.menu__wrapper {
  display: flex;
}

.menu-category {
  width: 50%;
}

.menu__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2em;
  color: var(--secondary-text);
  margin-bottom: 17px;
}

.menu__description {
  font-family: "Inter";
  font-size: 32px;
  line-height: 1.4em;
  color: var(--secondary-text);
  margin-bottom: 63px;
  width: 560px;
}

.menu__button {
  display: block;
  width: 531px;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-bottom: 12px;
  font-family: "Inter";
  font-size: 15px;
  line-height: 1.6em;
  text-align: center;
  color: var(--secondary-text);
  border: 2px solid var(--background-button);
  transition: background-color 0.3s, color 0.3s;
}

.menu__button:last-child {
  margin-bottom: 0px;
}

.menu__button:hover,
.menu__button:focus,
.menu__button:active {
  background-color: var(--background-button);
  color: var(--invert-text-white);
}

/* Contacts Section */
.contacts {
  background-color: var(--background-gold);
  padding-top: 120px;
  padding-bottom: 135px;
}

.contacts__list {
  display: flex;
  justify-content: space-between;
}

.contacts__item {
  width: 390px;
}

.contacts__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2em;
  text-align: center;
  color: var(--invert-text-white);
  margin-bottom: 15px;
}

.contacts__paragraph {
  font-family: "Inter";
  font-size: 25px;
  line-height: 1.46em;
  text-align: center;
  color: var(--invert-text-white);
}

.contacts__indent {
  margin-bottom: 35px;
}

/* Photo Section */
.photo {
  padding-top: 152px;
  padding-bottom: 120px;
}

.phtoto__wrapper {
  display: flex;
  gap: 40px;
}

.photo__block-1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* Awards Section  */
.awards {
  background-color: var(--background-pink);
  padding-top: 121px;
  padding-bottom: 133px;
}

.awards__wrapper {
  display: flex;
  justify-content: space-between;
}

.awards__title {
  width: 413px;
  font-size: 47px;
  font-weight: 400;
  line-height: 1.33em;
  letter-spacing: 1px;
  color: var(--invert-text-pink);
}

.awards__description {
  width: 595px;
  padding-top: 18px;
  font-family: "Inter";
  font-size: 18px;
  line-height: 1.5em;
  color: var(--invert-text-pink);
}

.footer {
  padding-top: 53px;
  padding-bottom: 32px;
}

.footer-navigation__list {
  display: flex;
  justify-content: center;
  gap: 32px;
}
.footer-navigation__item {
}

.footer-navigation__link {
  font-family: "Inter";
  font-size: 15px;
  line-height: 1.49em;
  color: var(--secondary-link-color);
  margin-bottom: 7px;
  transition: color 0.3s;
}

.footer-navigation__link:hover,
.footer-navigation__link:focus {
  color: var(--seconddary-link-hover);
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-bottom: 20px;
}

.footer-links__item {
}
.footer-links__link {
  font-family: "Inter";
  font-size: 15px;
  line-height: 1.49em;
  color: var(--secondary-link-color);
  margin-bottom: 7px;
  transition: color 0.3s;
}

.footer-links__link:hover,
.footer-links__link:focus {
  color: var(--seconddary-link-hover);
}

.copyright {
  display: flex;
  justify-content: center;
}
.copyright__item {
}
.copyright__link {
  font-family: "Inter";
  font-size: 13px;
  line-height: 1.5em;
  color: var(--copyright-color);
}