body {
  font-family: "Inter", sans-serif;
  font-family: "Azeret Mono", monospace;
}

:root {
  /* background color   */
  --background-pink: #4a2b33;
  --background-gery: #e9e9e3;
  --background-gold: #aa9e54;

  /* text color  */
  --primary-text: #222222;
  --secondary-text: #6f6f64;
  --invert-text-white: #ffffff;
  --invert-text-pink: #d27487;

  /* link & buttons color  */
  --primary-link-color: #d27487;
  --primary-link-hover: #ffffff;

  --secondary-link-color: #1f1f1f;
  --seconddary-link-hover: #d27487;

  --copyright-color: #6d6b67;
  --copyright-hover: #1f1f1f;

  --background-button: #6f6f64;
}

/* Utilities  */
@media (min-width: 1440px) {
  .section {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding-left: 8px;
  padding-right: 8px;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1328px;
    margin: 0 auto;
    padding: 0;
  }
}

/* Header */
.header {
  background-color: var(--background-pink);
  padding-top: 44px;
}

@media (min-width: 1440px) {
  .header__wrapper {
    display: flex;
    align-items: center;
  }
}

.header-navigation__list {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 24px;
}

@media (min-width: 1440px) {
  .header-navigation__list {
    justify-content: start;
    margin-right: 296px;
    margin-bottom: 0px;
  }
}

.header-navigation__link {
  font-family: "Inter";
  font-size: 15px;
  line-height: 1.6em;
  color: var(--primary-link-color);
  transition: color 0.3s;
}

@media (max-width: 1439px) {
  .header__logo-link {
    display: block;
    margin-bottom: 24px;
  }
}

@media (min-width: 1440px) {
  .header__logo-link {
    margin-right: 422px;
  }
}

.header-navigation__link:hover,
.header-navigation__link:focus {
  color: var(--primary-link-hover);
}

.header__logo-img {
  margin: 0 auto;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 32px;
}

@media (min-width: 1440px) {
  .social-list {
    gap: 16px;
  }
}

.social-list__link {
  fill: var(--primary-link-color);
  transition: fill 0.3s;
}

.social-list__link:hover,
.social-list__link:focus {
  fill: var(--primary-link-hover);
}

/* Hero */
.hero {
  background-color: var(--background-pink);
  padding-top: 36px;
  padding-bottom: 36px;
}

.hero-img {
  margin: 0 auto;
}

.hero-title {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* About Us */
.about {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 320px) {
  .about {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media (min-width: 768px) {
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (min-width: 1440px) {
  .about {
    padding-top: 220px;
    padding-bottom: 244px;
  }
}

.about__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 1.27em;
  text-align: center;
  color: var(--primary-text);
}

.about__paragraph {
  font-family: "Inter";
  text-align: center;
  line-height: 1.4em;
  color: var(--primary-text);
}

@media (min-width: 768px) {
  .about__paragraph {
    font-size: 28px;
  }
}

@media (min-width: 1440px) {
  .about__paragraph {
    width: 869px;
    margin: 0 auto;
    font-size: 32px;
  }
}

/* Menu Section */
.menu {
  background-color: var(--background-gery);
  padding-top: 32px;
  padding-bottom: 32px;
}

@media (min-width: 768px) {
  .menu {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (min-width: 1440px) {
  .menu {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media (min-width: 1440px) {
  .menu__wrapper {
    display: flex;
  }
}

@media (min-width: 1440px) {
  .menu-category {
    width: 50%;
  }
}

.menu__title {
  font-weight: 700;
  font-size: 17px;
  text-align: center;

  color: var(--secondary-text);
}

@media (min-width: 1440px) {
  .menu__title {
    text-align: left;
    line-height: 1.2em;
    margin-bottom: 17px;
  }
}

.menu__description {
  font-family: "Inter";
  text-align: center;
  line-height: 1.4em;
  color: var(--secondary-text);
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .menu__description {
    font-size: 28px;
  }
}

@media (min-width: 1440px) {
  .menu__description {
    width: 560px;
    font-size: 32px;
    text-align: left;
    margin-bottom: 63px;
  }
}

.menu__button {
  display: block;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-bottom: 12px;
  font-family: "Inter";
  font-size: 15px;
  line-height: 1.6em;
  text-align: center;
  color: var(--secondary-text);
  border: 2px solid var(--background-button);
  transition: background-color 0.3s, color 0.3s;
}

@media (min-width: 768px) {
  .menu__button {
    font-size: 26px;
  }
}

@media (min-width: 1440px) {
  .menu__button {
    width: 531px;
    font-size: 15px;
  }
}

.menu-list__img {
  margin: 0 auto;
}

.menu__button:hover,
.menu__button:focus,
.menu__button:active {
  background-color: var(--background-button);
  color: var(--invert-text-white);
}

/* Contacts Section */
.contacts {
  background-color: var(--background-gold);
  padding: 32px 0;
}

@media (min-width: 768px) {
  .contacts {
    padding: 60px 0;
  }
}

@media (min-width: 1440px) {
  .contacts {
    padding-top: 120px;
    padding-bottom: 135px;
  }
}

.contacts__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2em;
  text-align: center;
  color: var(--invert-text-white);
  margin-bottom: 15px;
}

.contacts__paragraph {
  font-family: "Inter";
  font-size: 16px;
  line-height: 1.46em;
  text-align: center;
  color: var(--invert-text-white);
}

@media (min-width: 1440px) {
  .contacts__paragraph {
    font-size: 25px;
  }
}

@media (min-width: 1440px) {
  .contacts__list {
    display: flex;
    justify-content: space-between;
    text-align-last: center;
  }
}

.contacts__item {
  margin-bottom: 32px;
}

@media (min-width: 1440px) {
  .contacts__item {
    margin-bottom: 0px;
    width: 390px;
  }
}

/* Photo Section */
.photo {
  padding: 32px 0;
}

@media (min-width: 768px) {
  .photo {
    padding: 60px 0;
  }
}

@media (min-width: 1440px) {
  .photo {
    padding-top: 152px;
    padding-bottom: 120px;
  }
}

@media (min-width: 768px) {
  .photo__wrapper {
    display: flex;
    gap: 16px;
  }
}

@media (min-width: 1440px) {
  .photo__wrapper {
    gap: 40px;
  }
}

.photo__block-1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .photo__block-1 {
    margin-bottom: 0px;
    justify-content: space-between;
  }
}

/* Awards */
.awards {
  background-color: var(--background-pink);
  padding-top: 35px;
  padding-bottom: 35px;
}

@media (min-width: 768px) {
  .awards {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (min-width: 1440px) {
  .awards {
    padding-top: 121px;
    padding-bottom: 133px;
  }
}

@media (min-width: 1440px) {
  .awards__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.awards__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.33em;
  letter-spacing: 0.1px;
  color: var(--invert-text-pink);
  text-align: center;
  margin-bottom: 32px;
}

@media (min-width: 1440px) {
  .awards__title {
    width: 413px;
    text-align: left;
    font-size: 47px;
  }
}

.awards__description {
  font-family: "Inter";
  font-size: 16px;
  text-align: center;
  line-height: 1.5em;
  color: var(--invert-text-pink);
}

@media (min-width: 768px) {
  .awards__description {
    font-size: 18px;
  }
}

@media (min-width: 1440px) {
  .awards__description {
    width: 595px;
    text-align: left;
    padding-top: 18px;
  }
}

/* Footer */
.footer {
  padding-top: 53px;
  padding-bottom: 32px;
}

.footer-navigation__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-bottom: 16px;
}

.footer-navigation__link {
  font-family: "Inter";
  font-size: 15px;
  line-height: 1.49em;
  color: var(--secondary-link-color);
  margin-bottom: 7px;
  transition: color 0.3s;
}

.footer-navigation__link:hover,
.footer-navigation__link:focus {
  color: var(--seconddary-link-hover);
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-bottom: 32px;
}

.footer-links__link {
  font-family: "Inter";
  font-size: 15px;
  line-height: 1.49em;
  color: var(--secondary-link-color);
  margin-bottom: 7px;
  transition: color 0.3s;
}

.footer-links__link:hover,
.footer-links__link:focus {
  color: var(--seconddary-link-hover);
}

.copyright {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.copyright__link {
  font-family: "Inter";
  font-size: 13px;
  line-height: 1.5em;
  color: var(--copyright-color);
}
